<!DOCTYPE html>

<html data-ng-app="myApp">

<head> 
  <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
  <script data-require="angular-animate@*" data-semver="1.4.0-beta.2" src="https://code.angularjs.org/1.4.0-beta.2/angular-animate.js"></script>
  <link href="screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <script src="instagram.js"></script>
</head>

<body ng-controller="instaController">
	<div class="center primary-icon">
		<img src="ng-instagram.png" alt="Instagram Searcher Logo">
	</div>
	<div class="center search-interface">
		<form name="searchEntry" ng-submit="searchSubmission(searchTerm)">
			<input type="text" class="search-entry" size="40" placeholder="Please enter a tag to search" ng-model="searchTerm" required>
			<button type="submit" class="button submit">Search!</button>
		</form>
	</div>

	<div class="errors" ng-if="searchEntry.$invalid && searchEntry.$submitted" >
		<hr>
		<ul class="error-messages center">
			<li ng-if="searchEntry.$error.required">Please enter a search term!</li>
		</ul>
	</div>

	<div class="photo-result">
		<h1 ng-if="searching">Searching Instagram -- please wait...</h1>
		<h1 ng-if="number">{{number}} photos found!</h1>
		<span class="result photos" ng-repeat="photo in pictures">
			<img ng-src="{{photo}}"></img>
		</span>
	</div>
</body>

</html>